target
.settings
.project
.classpath
.DS_Store
.idea
*.iml
*.ipr
*.iws
*˜

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out


com.sun.aas.instanceRoot_IS_UNDEFINED
derby.log

.idea
payment-merchant-creditcard-java.iml