--- layout: default ---
<!DOCTYPE html>
<html lang="en"
	class="wf-proximanova-n4-active wf-proximanova-n6-active wf-active">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Core API Reference</title>

<link rel="stylesheet" type="text/css" href="./core_api_assets/site.css"
	media="screen">

</head>

<body class="api-docs java">

	<div id="background"></div>

	<!-- header -->
	<div id="header">
		<div class="navigation">

			<ul class="global">
				<li><a href="http://elsewhere">Links to other stuff</a></li>
			</ul>
		</div>

	</div>
	<!-- /header -->

	<!-- guide -->
	<div id="guide" class="">

		<!-- reference -->
		<div id="reference">
			<p class="ref-title">API</p>

			<ul class="ref-list">
				<!-- basics (ref) -->
				<li class="section section-introduction"><a class="parent viewing"
					href="./core_ap_ref.htm">Introduction</a></li>
				<li class="section"><a class="parent" href="#errors">Errors</a></li>
			</ul>

			<ul class="ref-list">
				<!-- charges (ref) -->
				<li class="section section-purchase"><a class="parent"
					href="#purchase">Purchase</a> <span class="children"> <a
						class="child" href="#single_purchase">Single Purchase</a> <a
						class="child" href="#recurring_purchase">Recurring Purchase</a>
				</span></li>

				<li class="section section-void"><a class="parent" href="#void">Void</a></li>

				<li class="section section-refund"><a class="parent"
					href="#refund">Refund</a></li>

				<li class="section section-txn_verification"><a class="parent"
					href="#txn_verification">Transaction Verification</a></li>

				<li class="section section-cc_verification"><a class="parent"
					href="#cc_verification">Credit Card Verification</a></li>

				<li class="section section-batch"><a class="parent"
					href="#batch">Closing a Batch</a></li>

				<li class="section section-fraud"><a class="parent"
					href="#fraud">Updating Fraud</a></li>

				<li class="section section-receipts"><a class="parent"
					href="#receipts">Receipts</a></li>

				<li class="section section-security"><a class="parent"
					href="#security">Security</a></li>

				<li class="section section-secure_storage"><a class="parent"
					href="#secure_storage">Secure Storage</a></li>
			</ul>
		</div>

	</div>
	<!-- /guide -->

	<div id="api-docs">

		<a id="top" name="top" class="section-anchor">&nbsp;</a>

		<div id="methods">

			<div class="method-position">

				<div class="method">
					<a id="intro" name="intro" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include intro_description.html %}</div>
						<div class="method-example" id="api-summary-example">{% include intro_example.html %}</div>
					</div>


				</div>

				<div class="method">
					<a id="errors" name="errors" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include errors_description.html %}</div>
						<div class="method-example">{% include errors_example.html %}</div>
					</div>
				</div>

				<div class="method">
					<a id="purchase" name="purchase" class="section-anchor">&nbsp;</a>
					<a id="purchase_object" name="purchase_object"
						class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">Purchase</div>
						<div class="method-example">{% include purchase_example.html %}</div>
					</div>
				</div>

				<a id="single_purchase" name="single_purchase"
					class="section-anchor">&nbsp;</a>
				<div class="method-section">
					<div class="method-description">{% include single_purchase_description.html %}</div>
					<div class="method-example">{% include single_purchase_example.html %}</div>
				</div>

				<a id="recurring_purchase" name="recurring_purchase"
					class="section-anchor">&nbsp;</a>
				<div class="method-section">
					<div class="method-description">{% include recurring_purchase_description.html %}</div>
					<div class="method-example">{% include recurring_purchase_example.html %}</div>
				</div>

				<div class="method">
					<a id="void" name="void" class="section-anchor">&nbsp;</a> <a
						id="void_object" name="void_object" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include void_description.html %}</div>
						<div class="method-example">{% include void_example.html %}

						</div>
					</div>
				</div>

				<div class="method">
					<a id="refund" name="refund" class="section-anchor">&nbsp;</a> <a
						id="refund_object" name="refund_object" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include refund_description.html %}</div>
						<div class="method-example">{% include refund_example.html %}</div>
					</div>
				</div>

				<div class="method">
					<a id="txn_verification" name="txn_verification"
						class="section-anchor">&nbsp;</a> <a id="txn_verification_object"
						name="txn_verification_object" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include txn_verification_description.html %}</div>
						<div class="method-example">{% include txn_verification_example.html %}</div>
					</div>
				</div>

				<div class="method">
					<a id="cc_verification" name="cc_verification"
						class="section-anchor">&nbsp;</a> <a id="cc_verification_object"
						name="cc_verification_object" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include cc_verification_description.html %}</div>
						<div class="method-example">{% include cc_verification_example.html %}</div>
					</div>
				</div>

				<div class="method">
					<a id="batch" name="batch" class="section-anchor">&nbsp;</a> <a
						id="batch_object" name="batch_object" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include batch_description.html %}</div>
						<div class="method-example">{% include batch_example.html %}

						</div>
					</div>
				</div>

				<div class="method">
					<a id="fraud" name="fraud" class="section-anchor">&nbsp;</a> <a
						id="fraud_object" name="fraud_object" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include fraud_description.html %}</div>
						<div class="method-example">{% include fraud_example.html %}

						</div>
					</div>
				</div>

				<div class="method">
					<a id="receipts" name="receipts" class="section-anchor">&nbsp;</a>

					<a id="receipts_object" name="receipts_object"
						class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include receipts_description.html %}</div>
						<div class="method-example">{% include receipts_example.html %}</div>
					</div>
				</div>

				<div class="method">
					<a id="security" name="security" class="section-anchor">&nbsp;</a>

					<a id="security_object" name="security_object"
						class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include security_description.html %}</div>
						<div class="method-example">{% include security_example.html %}</div>
					</div>
				</div>

				<div class="method">
					<a id="secure_storage" name="secure_storage" class="section-anchor">&nbsp;</a>

					<a id="secure_storage_object" name="secure_storage_object"
						class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include secure_storage_description.html %}</div>
						<div class="method-example">{% include secure_storage_example.html %}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>