<!DOCTYPE html>
<html lang="en"
	class="wf-proximanova-n4-active wf-proximanova-n6-active wf-active">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Core API Reference</title>

<link rel="stylesheet" type="text/css" href="./core_api_assets/site.css"
	media="screen">

</head>

<body class="api-docs java">

	<div id="background"></div>

	<!-- header -->
	<div id="header">
		<div class="navigation">

			<ul class="global">
				<li><a href="http://elsewhere">Links to other stuff</a></li>
			</ul>
		</div>

	</div>
	<!-- /header -->

	<!-- guide -->
	<div id="guide" class="">

		<!-- reference -->
		<div id="reference">
			<p class="ref-title">API</p>

			<ul class="ref-list">
				<!-- basics (ref) -->
				<li class="section active"><a class="parent viewing"
					href="./core_ap_ref.htm">Introduction</a></li>
				<li class="section"><a class="parent" href="#errors">Errors</a></li>
			</ul>

			<p class="ref-title">Methods</p>

			<ul class="ref-list">
				<!-- charges (ref) -->
				<li class="section section-charges"><a class="parent"
					href="#charges">example1</a> <span class="children"> <a
						class="child" href="#create_charge">child11</a> <a class="child"
						href="#retrieve_charge">child12</a>
				</span></li>

				<!-- customers (ref) -->
				<li class="section section-customers"><a class="parent"
					href="#customers">example2</a> <span class="children"> <a
						class="child" href="#create_customer">child21</a> <a class="child"
						href="#retrieve_customer">child22</a>
				</span></li>
			</ul>
		</div>

	</div>
	<!-- /guide -->
	
		<div id="api-docs">

		<a id="top" name="top" class="section-anchor">&nbsp;</a>

		<div id="methods">

			<div class="method-position">

				<div class="method">
					<a id="intro" name="intro" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">

							{% include 'intro_description' %}

						</div>
						<div class="method-example" id="api-summary-example">

							{% include 'intro_example' %}

						</div>
					</div>


				</div>



				<div class="method">
					<a id="errors" name="errors" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">
							

						</div>
						<div class="method-example">

							
						</div>
					</div>
				</div>

				<div class="method">
					<a id="charges" name="charges" class="section-anchor">&nbsp;</a> <a
						id="charges_object" name="charges_object" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">

							
						</div>
					</div>
				</div>



				<a id="create_charge" name="create_charge" class="section-anchor">&nbsp;</a>
				<div class="method-section">
					<div class="method-description">

						
					</div>
				</div>

				<div class="method">
					<a id="customers" name="customers" class="section-anchor">&nbsp;</a>


					<a id="customer_object" name="customer_object"
						class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">

							


						</div>
						<div class="method-example">

							

						</div>
					</div>



					<a id="create_customer" name="create_customer"
						class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">


						</div>
					</div>



					<a id="retrieve_customer" name="retrieve_customer"
						class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">
							

						</div>
					</div>


				</div>

</body>
</html>