<h3>Credit Card Verification</h3>
<p>
Use the verifyCreditCard() method to check the status of a credit card. A CreditCardReceipt object is returned, containing information about the card’s validity, Secure Storage information if the card uses Secure Storage and Fraud information if the card uses the Advanced Fraud Suite.
</p>

<p>
HttpsCreditCardService.verifyCreditCard
<br>CreditCard creditCard						CreditCard information.
<br>VerificationRequest verificationRequest		Credit Card Verification request information.
</p>