<h3>Void</h3>

<p>
Cancels a transaction, preventing it from being settled.  A Void can only be performed on a transaction belonging to the current batch, before the current batch is closed (i.e. before the end of day).
</p>

<br>

<table border="1">
<tr>
<th>requestCode<td>void
<tr>
<td>merchantId<td>Your merchant ID.
<tr>
<td>apiToken<td> Your API Token.
<tr>
<td>marketSegmentCode<td>I (Internet) or M (Mail/Telephone)
<tr>
<td>transactionId<td>The ID of the transaction you are voiding.
<tr>
<td>transactionOrderId<td>The order Id of the transaction you are voiding.
</table>