<h3>Batch Closure</h3>

<p>
All batches are closed automatically every night at 12:00 am EST.  If for some reason you want to close a batch manually during the day, this may be done with a batch request.  Note that this will NOT prevent the automatic daily batch closure.
</p>

<br>

<table border="1">
<tr>
<td>requestCode<td>batch
<tr>
<td>merchantId<td>Your merchant ID.
<tr>
<td>apiToken<td>Your API Token.
<tr>
<td>marketSegmentCode<td>I (Internet) or M (Mail/Telephone)
<tr>
<td>operationCode<td>close
</table>