<h3>
Secure Storage
</h3>

<p>
With the Secure Storage API, merchants can remotely store credit card and other sensitive customer data with SALT to increase security and reduce the scope of PCI Compliance.
</p>
<p>
When information is stored with SALT, a ‘Storage Token’ (which identifies the information in secure storage) is returned in response.  This Storage Token can be used for all subsequent transactions including purchases and credit card verification.
</p>

<br>

<table border="1">
<tr>
<th>requestCode<td>secureStorage
<tr>
<td>merchantId<td>Your merchant ID.
<tr>

<td>apiToken<td> Your API Token.
<tr>
<td>marketSegmentCode<td>I (Internet) or M (Mail/Telephone)
<tr>
<td>operationCode<td>create
<tr>
<td>storageTokenId<td>Merchant defined storage token ID.
<tr>
<td>creditCardNumber<td>The PAN of the paying credit card.
<tr>
<td>expiryDate<td>The expiry of the paying credit card in the format MMYY.
<tr>
<td>profileFirstName<td>The customer's first name.
<tr>
<td>profileLastName<td>The customer's last name.
<tr>
<td>profilePhoneNumber<td>The customer's phone number.
<tr>
<td>profileAddress1<td>The customer's address.
<tr>
<td>profilePostal<td>The customer's postal code.
</table>
