<h3>Single Purchase</h3>

<p>
Perform a single purchase.
</p>

<br>

<table border="1">
<tr>
<th>requestCode<td>singlePurchase
<tr>
<td>merchantId<td>Your merchant ID.
<tr>
<td>apiToken<td> Your API Token.
<tr>
<td>marketSegmentCode<td>I (Internet) or M (Mail/Telephone)
<tr>
<td>orderId<td>Merchant assigned orderId. 
<tr>
<td>creditCardNumber<td>The PAN of the paying credit card.
<tr>
<td>expiryDate<td>The expiry of the paying credit card in the format MMYY.
<tr>
<td>storageTokenId<td>If the customer is stored in Secure Storage, you can supply this ID instead of the customer's credit card credentials.
<tr>
<td>amount<td>The amount of the purchase in cents.
<tr>
<td>avsRequestCode<td>0 or 1, Whether or not you require AVS.
<tr>
<td>cvv2RequestCode<td>0 or 1, Whether or not you require CVV2.
</table>