<h3>Receipts</h3>

<p>
For full details on what needs to be included in a purchase receipt, check out our full documentation <a href="http://salttechnology.github.io/core_api_doc.htm">here</a>
</p>

<p>
CreditCardReceipt
<br>getCvv2Response()	<td>Returns a Cvv2Response when performing a transaction with a VerificationRequest.
<br>getPeriodicPurchaseInfo()	<td>Returns PeriodicPurchaseInfo when performing a recurring payment.
<br>getStorageTokenId()	<td>Returns the storage token used when setting up Secure Storage.
<br>getOrderId()	<td>Returns the merchant assigned orderId for a purchase or refund.
<br>getResponse()	<td>Returns the actual response from the creditcard gateway.
</p>