<h3>Receipts</h3>

<p>
For full details on what needs to be included in a purchase receipt, check out our full documentation <a href="http://salttechnology.github.io/core_api_doc.htm">here</a>
</p>

<br>

<table border="1">
<tr>
<th>CreditCardReceipt
<tr>
<td>getCvv2Response()	<td>Returns a Cvv2Response when performing a transaction with a VerificationRequest.
<tr>
<td>getPeriodicPurchaseInfo()	<td>Returns PeriodicPurchaseInfo when performing a recurring payment.
<tr>
<td>getStorageTokenId()	<td>Returns the storage token used when setting up Secure Storage.
<tr>
<td>getOrderId()	<td>Returns the merchant assigned orderId for a purchase or refund.
<tr>
<td>getResponse()	<td>Returns the response from the creditcard gateway.
</table>