<h3>Recurring Purchase</h3>

<p>
You can use SALT’s Periodic Purchase features when the customer is billed periodically, or when splitting payment into a number of separate payments.
<br>
</p>

<table border="1">
<tr>
<th>To create a recurring payment:
<td>requestCode<td>recurringPurchase
<td>merchantId<td>Your merchant ID.
<td>apiToken<td> Your API Token.
<td>marketSegmentCode<td>I (Internet) or M (Mail/Telephone)
<td>operationCode<td>create
<td>amount<td>The amount of the purchase in cents.
<td>periodicPurchaseStateCode<td>one of NEW(0), IN_PROGRESS(1), COMPLETE(2), ON_HOLD(3), CANCELLED(4), ERROR(5)
<td>periodicPurchaseScheduleTypeCode<td>one of MONTH(0), WEEK(1), DAY(2)
<td>periodicPurchaseIntervalLength<td>Duration of the interval.
<td>orderId<td>Merchant assigned orderId. 
<td>customerId<td>Optional meta field that can be used to describe a customer. 
<td>startDate<td>The date of when to issue the first payment. If this date is null or in the past, then the first payment will be issued immediately. Cannot be modified after the first payment has been issued.
<td>endDate<td>The date of when to end the payments. A payment will not be issued if it falls on this date
<td>nextPaymentDate<td>Change when the next payment will occur.
<td>creditCardNumber<td>The PAN of the paying credit card.
<td>expiryDate<td>The expiry of the paying credit card in the format MMYY.
<td>storageTokenId<td>If the customer is stored in Secure Storage, you can supply this ID instead of the customer's credit card credentials.
<td>avsRequestCode<td>0 or 1, Whether or not your require AVS.
<td>cvv2RequestCode<td>0 or 1, Whether or not your require CVV2.
</table>

<br>

<table border="1">
<tr>
<th>To execute a recurring payment:
<tr>
<td>merchantId<td>Your merchant ID.
<tr>
<td>apiToken<td> Your API Token.
<tr>
<td>marketSegmentCode<td>I (Internet) or M (Mail/Telephone)
<tr>
<td>operationCode=execute
<tr>
<td>cvv2<td>The purchasing credit card's CVV2.
<tr>
<td>transactionOrderId<td>The order Id of the transaction you are executing.
</table>

<br>

<table border="1">
<tr>
<th>To hold/resume/cancel a recurring payment:
<tr>
<td>requestCode<td>recurringPurchase
<tr>
<td>merchantId<td>Your merchant ID.
<tr>
<td>apiToken<td> Your API Token.
<tr>
<td>marketSegmentCode<td>I (Internet) or M (Mail/Telephone)
<tr>
<td>operationCode<td>update
<tr>
<td>transactionOrderId<td>The order Id of the transaction you are updating.
<tr>
<td>periodicPurchaseStateCode<td>1 = resume, 3 = hold, 4 = cancel
</table>