<p>
requestCode=recurringPurchase&merchantId=-1&apiToken=&marketSegmentCode=I&operationCode=create&amount=1000&periodicPurchaseStateCode=0&periodicPurchaseScheduleTypeCode=2&periodicPurchaseIntervalLength=5&orderId=orderid&customerId=customerid&startDate=2013-06-17&endDate=2013-06-17&nextPaymentDate=2013-06-17&creditCardNumber=4242424242424242&expiryDate=1231&avsRequestCode=0&cvv2RequestCode=1
</p>

<p>
execute recurring payment
requestCode=recurringPurchase&merchantId=-1&apiToken=&marketSegmentCode=I&operationCode=execute&cvv2=cvv&transactionId=-1
</p>

<p>
hold recurring payment
requestCode=recurringPurchase&merchantId=-1&apiToken=&marketSegmentCode=I&operationCode=update&transactionId=-1&periodicPurchaseStateCode=3
</p>

<p>
resume recurring payment
requestCode=recurringPurchase&merchantId=-1&apiToken=&marketSegmentCode=I&operationCode=update&transactionId=-1&periodicPurchaseStateCode=1
</p>

<p>
update recurring payment
requestCode=recurringPurchase&merchantId=-1&apiToken=&marketSegmentCode=I&operationCode=update&transactionId=0&amount=1000&periodicPurchaseStateCode=0&periodicPurchaseScheduleTypeCode=2&periodicPurchaseIntervalLength=5&orderId=orderid&customerId=customer id&startDate=2013-06-17&endDate=2013-06-17&nextPaymentDate=2013-06-17&creditCardNumber=4444444444444444&expiryDate=1231&avsRequestCode=0&cvv2RequestCode=1
</p
>
<p>
cancel recurring payment
requestCode=recurringPurchase&merchantId=-1&apiToken=&marketSegmentCode=I&operationCode=update&transactionId=-1&periodicPurchaseStateCode=4
</p>