<h3>Create Recurring Purchase</h3>
<p>
requestCode=recurringPurchase<br>
merchantId=1<br>
apiToken=token<br>
marketSegmentCode=I<br>
operationCode=create<br>
amount=1000<br>
periodicPurchaseStateCode=0<br>
periodicPurchaseScheduleTypeCode=2<br>
periodicPurchaseIntervalLength=5<br>
orderId=orderid<br>
customerId=customerid<br>
startDate=2013-06-17<br>
endDate=2013-06-17<br>
nextPaymentDate=2013-06-17<br>
creditCardNumber=4242424242424242<br>
expiryDate=1231<br>
avsRequestCode=0<br>
cvv2RequestCode=1<br>
</p>

<br>

<h3>Execute Recurring Purchase</h3>
<p>
requestCode=recurringPurchase<br>
merchantId=1<br>
apiToken=token<br>
marketSegmentCode=I<br>
operationCode=execute<br>
cvv2=cvv<br>
transactionId=1<br>
</p>

<br>

<h3>Hold Recurring Purchase</h3>
<p>
requestCode=recurringPurchase<br>
merchantId=1<br>
apiToken=token<br>
marketSegmentCode=I<br>
operationCode=update<br>
transactionId=1<br>
periodicPurchaseStateCode=3<br>
</p>

<h3>Resume Recurring Purchase</h3>
<p>
requestCode=recurringPurchase<br>
merchantId=1<br>
apiToken=token<br>
marketSegmentCode=I<br>
operationCode=update<br>
transactionId=1<br>
periodicPurchaseStateCode=1<br>
</p>

<h3>Update Recurring Purchase</h3>
<p>
requestCode=recurringPurchase<br>
merchantId=1<br>
apiToken=token<br>
marketSegmentCode=I<br>
operationCode=update<br>
transactionId=0<br>
amount=1000<br>
periodicPurchaseStateCode=0<br>
periodicPurchaseScheduleTypeCode=2<br>
periodicPurchaseIntervalLength=5<br>
orderId=orderid<br>
customerId=customerid<br>
startDate=2013-06-17<br>
endDate=2013-06-17<br>
nextPaymentDate=2013-06-17<br>
creditCardNumber=4444444444444444<br>
expiryDate=1231<br>
avsRequestCode=0<br>
cvv2RequestCode=1<br>
</p>

<h3>Cancel Recurring Purchase</h3>
<p>
requestCode=recurringPurchase<br>
merchantId=1<br>
apiToken=token<br>
marketSegmentCode=I<br>
operationCode=update<br>
transactionId=1<br>
periodicPurchaseStateCode=4<br>
</p>