<h3>Refund</h3>

<p>
Returns funds from a previously settled purchase to the customer.  Refunds can only be performed on a purchase that is part of an already-closed batch.
</p>

<p>
HttpsCreditCardService.refund
<br>long purchaseId	 &emsp;&emsp; The SALT transactionId of the purchase to void.
<br>String purchaseOrderId &emsp;&emsp; The order ID previously assigned to the purchase that is to be refunded.
<br>String refundOrderId &emsp;&emsp; The merchant assigned orderId to be attached to this refund request. Will be generated if null.
<br>long amount	 &emsp;&emsp; The amount to refund in cents.
</p>