<h3>Refund</h3>

<p>
Returns funds from a previously settled purchase to the customer.  Refunds can only be performed on a purchase that is part of an already-closed batch.
</p>

<br>

<table border="1">
<tr>
<th>requestCode<td>refund
<tr>
<td>merchantId<td>Your merchant ID.
<tr>
<td>apiToken<td> Your API Token.
<tr>
<td>marketSegmentCode<td>I (Internet) or M (Mail/Telephone)
<tr>
<td>transactionId<td>The ID of the transaction you are refunding.
<tr>
<td>transactionOrderId<td>The order Id of the transaction you are refunding.
<tr>
<td>orderId<td>The merchant assigned orderId to be attached to this refund request.
<td>amount<td>The amount of the purchase in cents.
</p>