<p>
requestCode=secureStorage&merchantId=1&apiToken=&marketSegmentCode=I&operationCode=create&storageTokenId=&creditCardNumber=4242424242424242&expiryDate=1231&profileFirstName=firstName&profileLastName=lastName&profilePhoneNumber=phone&profileAddress1=address1&profilePostal=postal

requestCode=recurringPurchase&merchantId=-1&apiToken=&marketSegmentCode=I&operationCode=create&amount=1000&periodicPurchaseStateCode=0&periodicPurchaseScheduleTypeCode=2&periodicPurchaseIntervalLength=5&orderId=order id&customerId=customer id&startDate=2013-06-17&endDate=2013-06-17&nextPaymentDate=2013-06-17&storageTokenId=&avsRequestCode=0&cvv2RequestCode=1
</p>