<p>
requestCode=secureStorage<br>
merchantId=1<br>
apiToken=token<br>
marketSegmentCode=I<br>
operationCode=create<br>
storageTokenId=token<br>
creditCardNumber=4242424242424242<br>
expiryDate=1231<br>
profileFirstName=firstName<br>
profileLastName=lastName<br>
profilePhoneNumber=555-555-5555<br>
profileAddress1=address1<br>
profilePostal=postal<br>

requestCode=recurringPurchase<br>
merchantId=1<br>
apiToken=token<br>
marketSegmentCode=I<br>
operationCode=create<br>
amount=1000<br>
periodicPurchaseStateCode=0<br>
periodicPurchaseScheduleTypeCode=2<br>
periodicPurchaseIntervalLength=5<br>
orderId=orderid<br>
customerId=customerid<br>
startDate=2013-06-17<br>
endDate=2013-06-17<br>
nextPaymentDate=2013-06-17<br>
storageTokenId=token<br>
avsRequestCode=0<br>
cvv2RequestCode=1<br>
</p>